.body {
  height: -webkit-fill-available;
  background-image: url("https://cdn.pixabay.com/photo/2020/07/18/16/29/coffee-5417663_1280.png");
  color: rgb(221, 206, 206);
  font: 14px Helvetica, sans-serif;
}
h1{
  color: rgb(214, 247, 177);
            font-size: 68px;
            text-shadow: -1px 5px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -2px 0 #000;
}

label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 5px 10px 0 0;
  width: 140px;
}
input{
  width: -webkit-fill-available;
  padding: inherit;
}
form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}

.dec {
  background-position: 0 -29px;
}

.buttons {
  padding: 20px 0 0 140px;
}

.bigbutton {
  border-radius: 4px;
  background-color: #15c2cf;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bigbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bigbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bigbutton:hover span {
  padding-right: 25px;
}

.bigbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5);
}

p{
  color: rgb(12, 106, 39);
}

.input-align{
  text-align: center;
}

.total{
  color: rgb(214, 247, 177);
            font-size: 45px;
            text-shadow: -1px 5px 0 #b78a8a,
                          1px 1px 0 #000,
                         1px -1px 0 #1e7172,
                        -1px -2px 0 #000;
}


